/* LAYOUT DA DOCUMENTAÇÃO */

/* Ajustes de responsividade para a sidebar */
@media (max-width: 991.98px) {
  .sidebar {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    overflow-y: visible !important;
    border-right: none !important;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
  }
  
  main.flex-grow-1 {
    margin-left: 0 !important;
  }
}

/* Scrollbar customizada para a sidebar */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray-300);
  border-radius: 20px;
}

/* Área de código */
.card-footer pre {
  margin: 0;
  white-space: pre-wrap;
}

.nav-tabs .nav-link {
  color: var(--bs-secondary);
}

.nav-tabs .nav-link:hover {
  color: var(--bs-primary);
  border-color: transparent;
}

.nav-tabs .nav-link.active {
  color: var(--bs-primary);
  font-weight: 600;
}

/* Estilização específica para a documentação não conflitar com o conteúdo */
.sidebar .nav-link {
  border-radius: var(--bs-border-radius);
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}

.sidebar .nav-link:hover:not(.active) {
  background-color: var(--bs-gray-100);
  color: var(--bs-primary) !important;
}

.sidebar .nav-link.active {
  background-color: rgba(229, 41, 63, 0.1); /* Primary com transparência */
  color: var(--bs-primary) !important;
}
